<!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
 
<configuration status="off" monitorinterval="1800">    
     <appenders>
        <console target="SYSTEM_OUT" name="Console">
            <patternlayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"></patternlayout>
        </console>        
    </appenders>
 
    <loggers>            
        <root level="debug">
         <AppenderRef ref="Console"/>
		</root>
    </loggers>
</configuration>
